jinja2>=3.0.0
requests>=2.28.0
psycopg2-binary
apache-airflow-providers-smtp
apache-airflow-providers-common-compat
apache-airflow-providers-common-io
apache-airflow-providers-common-sql
apache-airflow-providers-fab
apache-airflow-providers-ftp
apache-airflow-providers-google
apache-airflow-providers-amazon
apache-airflow-providers-asana
apache-airflow-providers-celery
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-datadog
apache-airflow-providers-elasticsearch
apache-airflow-providers-facebook
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-jdbc
apache-airflow-providers-microsoft-azure
apache-airflow-providers-mongo
apache-airflow-providers-mysql
apache-airflow-providers-openlineage
apache-airflow-providers-papermill
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-sqlite
apache-airflow-providers-zendesk
astro-sdk-python
astronomer-providers
astronomer-providers-logging