pymongo==4.10.1
pandas==2.2.3 
python-dotenv==1.0.1
openpyxl==3.1.5
psycopg2-binary==2.9.10
pyarrow==18.1.0
fastparquet==2024.11.0
polars==1.33.0
xlsxwriter==3.2.2
apache-airflow[google]
fastexcel==0.14.0
apache-airflow-providers-postgres
apache-airflow-providers-common-sql
apache-airflow-providers-mongo
apache-airflow-providers-airbyte
astronomer-cosmos[dbt.all]
dlt[cli]
dbt-core
dbt-postgres
dbt-bigquery
jinja2
requests
psycopg2-binary
apache-airflow-providers-smtp
apache-airflow-providers-common-compat
apache-airflow-providers-common-io
apache-airflow-providers-common-sql
apache-airflow-providers-fab
apache-airflow-providers-ftp
apache-airflow-providers-google
apache-airflow-providers-amazon
apache-airflow-providers-asana
apache-airflow-providers-celery
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-datadog
apache-airflow-providers-elasticsearch
apache-airflow-providers-facebook
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-jdbc
apache-airflow-providers-microsoft-azure
apache-airflow-providers-mongo
apache-airflow-providers-mysql
apache-airflow-providers-openlineage
apache-airflow-providers-papermill
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-sqlite
apache-airflow-providers-zendesk
astro-sdk-python
astronomer-providers